body {
  background-color: lightgray;
}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.axis {
  font: 15px Arial, sans-serif;
}

.graph-svg-component {
  background-color: none;
  display: block;
  margin: auto;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
}